#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#patients {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 101%;
}

#patients td, #patients th {
  border: 1px solid #ddd;
  padding: 8px;
  max-height: 10vh;
}

#patients tr:nth-child(even){
  background-color: #f2f2f2;
  text-align: left;
  white-space: pre;
  
}

#patients tr:nth-child(odd){
  background-color: white;
  text-align: left;
  white-space: pre;
}

#patients th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: gray;
  color: white;
}

.button {
    border-style: none;
    background-color: transparent;
    font-size: 20px;
    width: 100%;
}