.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* my part */

/* colors:
"CobaltBlue" : "#5d5df0",
"White": "#FFFFFF",
"EggplantPurple": "#400340" */

.backgroundDiv {
  background-color: #5d5df0;
  width: 1500px;
  height: 800px;
  display: flex;
  align-items: center;
}

.container .box {  
  display:table;
  margin-left: 300px;  
  background-color: #400340;
  border-radius: 2%;
  height: 500px;
  width: 900px;
  align-items: center;
} 
.container .box .box-row { 
  display:table-row;
} 
.container .box .box-cell { 
  display:table-cell; 
  width:50%; 
} 
.container .box .box-cell.box1 { 
  text-align:justify; 
} 
.container .box .box-cell.box2 { 
  font-size: 25px;
  position: absolute;
  top: 180px;
  left: 890px;
  color: gray
} 

.emailDiv {
  position: absolute;
  right: 460px;
  top: 60px;
  border-radius: 20%;
  width: 350px;
  height: 50px;
  border-radius: 20px;
}

.passwordDiv {
  position: absolute;
  right: 460px;
  top: 130px;
  border-radius: 20%;
  width: 350px;
  height: 50px;
  border-radius: 20px;
}

.welcomeBack {
  font-size: 25px;
  position: absolute;
  top: -30px;
  right: 430px;
  width: 300px;
  color: gray
}

.checkBox {
  font-size: 25px;
  position: absolute;
  top: 200px;
  right: 500px;
  width: 300px;
  color: gray;
  border-radius: 20px;
}

.rememberMe {
  font-size: 10px;
  position: absolute;
  top: 198px;
  right: 480px;
  width: 300px;
  color: gray
}

.login {
  position: absolute;
  right: 460px;
  top: 240px;
  border-radius: 20%;
  width: 350px;
  height: 50px;
  border-radius: 20px;
  background-color:blue;
  color: white;
}

.google {
  position: absolute;
  right: 460px;
  top: 330px;
  border-radius: 20%;
  width: 350px;
  height: 50px;
  border-radius: 20px;
  background-color:red;
  color: white;
}

.facebook {
  position: absolute;
  right: 460px;
  top: 390px;
  border-radius: 20%;
  width: 350px;
  height: 50px;
  border-radius: 20px;
  background-color:blue;
  color: white;
}

.forgotPassword {
  position: absolute;
  right: 460px;
  top: 390px;
  border-radius: 20%;
  width: 350px;
  height: 50px;
  border-radius: 20px;
  background-color:blue;
  color: white;
}