.whole_div {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.title_div_exams {
  width: 68%;
  height: 8vh;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin-top: 5%;
  margin-left: 25%;
  font-size: 5vh;
  text-align: center;
}

.body_div {
  width: 85%;
  margin-top: 5%;
  margin-left: 8%;
  display:flex; 
  flex-direction:row;
}

.show_hide_panel_exams {
  width: 15%; 
}

.show_hide_t {
  font-size: 2.5vh;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.show_hide_c {
  font-size: 2.5vh;
}

.table_design {
  min-width: 80%;
  margin-left: 5%;
}

.bottom_div_exams {
  margin-left: 70%;
  width: 23.5%;
}

.button_concept {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin-top: 1vh;
  font-size: 3vh;
  width: 100%;
  min-height: 5vh;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.export_dropdown {
  margin-top: 1vh;
}

.export_button_concept {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  margin-top: 3vh;
  font-size: 3vh;
  width: 100%;
  min-height: 5vh;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}