.button_concept_show_patient_image {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  font-size: 3vh;
  width: 100%;
  min-height: 5vh;
  max-height: 10vh;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-left: 10vh;
}

.image_show_patient_image {
    max-width: 100%;
    max-height: 100vh;
}

.body_div_show_patient_image {
  width: 88.5%;
  margin-top: 5%;
  margin-left: 5%;
  display:flex; 
  flex-direction:row;
}