.App-background {
  background-color: white;
  min-height: 100vh;
}

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --standard: Georgia, "Times New Roman", Times, serif;
}

.upper-text {
  background: var(--primary);
  padding: 0.8rem;
  color: var(--dark);
  font-size: 2rem;
  font-family: var(--standard);
  text-decoration: none;
  text-align: center;
  border-width: 5px;
  border-style: solid;
  box-shadow: var(--shadow);
}

.filter-table {
  background-color: var(--light);
  border-width: 5px;
  border-style: solid;
  margin-top: 0.5em;
}

.table-title {
  background: var(--primary);
  color: var(--dark);
  font-family: var(--standard);
  margin: 0.2em;
  border-style: solid;
  border-width: 2px;
  box-shadow: var(--shadow);
}

.table-title h4 {
  margin: 0.2em;
  text-align: center;
  vertical-align: bottom;
}

.filter-choice {
  font-size: 1.2em;
  font-family: var(--standard);
  margin: 0.5em;
}

.label-choice {
  margin-left: 2vh;
}

.hidden {
  display: none;
}

.normal {
  width: 100px;
  height: 100px;
  background-color: green;
}

.subfilter-choice {
  background-color: white;
  width: 50vh;
  max-height: 40vh;
  overflow: scroll;
  border-width: 5px;
  border-style: solid;
  margin-left: 10%;
  margin-top: 3%;
  padding-bottom: 1%;
}

.filter-textbox {
  width: 5vh;
  height: 5vh;
  font-size: 20px;
  margin-left: 10%;
}

.filter-textbox-2 {
  width: 10vh;
  height: 5vh;
  font-size: 20px;
  margin-left: 10%;
}

.buttons {
  background-color: var(--primary);
  border-width: 5px;
  border-style: solid;
  border-color: var(--dark);
  font-family: var(--standard);
  font-size: 1.2em;
  margin: 0.2em;
  margin-top: 0.5em;
}
